#nav-start {
    margin-left: 5vw;
}

.navbar{
    color: #726eff;
    position:fixed;
    z-index: 50;
}
@media screen and (min-width: 768px) {
    .navbar {
      background-color: transparent;
    }
  
    .navbar.scrolled {
      background-color: black;
    }
  }

#nav-end {
    margin-right: 5vw;
}


body{
    height:100vh;
    width:100vw;
}

#myVideo{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:-1;
    object-fit:cover;
    opacity:0.8;
}

.color-green-main{
    color:#5AFFE7;
}

.color-green-dark{
    color:#08C6AB;
}

.bgcolor-green{
    background-color:#5AFFE7;
    color: #212b38;
}
.bgcolor-grey{
    background-color:#37565B;
}

