#nav-start {
    margin-left: 5vw;
}

.fixed {
    position: fixed;
    z-index: 50;
}

.navbar{
    color: #726eff;
}

#nav-end {
    margin-right: 5vw;
}

body {
    background-image: url('/styles/images/back.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

body{
    height:100vh;
    width:100vw;
}
/**Align all elements to center */


.color-green-main{
    color:#5AFFE7;
}

.color-green-dark{
    color:#08C6AB;
}

.bgcolor-green{
    background-color:#5AFFE7;
    color: #212b38;
    /** Transition color with animation in 2s to #37565B */
}
.bgcolor-grey{
    background-color:#37565B;
}

